<div class="object_form_map open_button_wrapper">
    <div class="open_button">
        <a href="#" id="gpspicker_opener">{_backend.control.object.text.noAddress}</a>
    </div>
    <div id="gpspicker" class="map"></div>
</div>
