{define standard}
    {include 'LogsListControl.latte', items => [$item], isDetail => true}
{/define}

{define actionHeadline}
    <h3 class="action_headline">{block actionHeadlineContent}{/block}</h3>
{/define}
