{import 'LogsListControl.standard.latte'}

{include standard}
{block actionContent}
    <div class="action_content">
        {include actionHeadline}
        {block actionBody}{/block}
    </div>
{/block}
