<div class="filter_group map_type">
    <div class="filter_items">
        <ul>
            <li class="nwjs_change_map_type active" data-type="roadmap">{_messages.control.filter.mapType.items.roadmap}</li>
            <li class="nwjs_change_map_type" data-type="hybrid">{_messages.control.filter.mapType.items.satellite}</li>
            <li class="maplayer" data-type="maplayer">
                {ifCurrent this, \MP\Module\Web\Presenters\HomepagePresenter::PARAM_MAPS => true}
                    <a href="{plink this, \MP\Module\Web\Presenters\HomepagePresenter::PARAM_MAPS => false}" title="{_messages.control.filter.mapType.items.mapycz}" class="mapycz"></a>
                {else}
                    <a href="{plink this, \MP\Module\Web\Presenters\HomepagePresenter::PARAM_MAPS => true}" title="{_messages.control.filter.mapType.items.gmaps}" class="gmaps"></a>
                {/ifCurrent}
            </li>
        </ul>
        <div class="button_set_geolocation nwjs_set_geolocation" title="{_messages.control.filter.mapType.seekPositionButton}">
            {_messages.control.filter.mapType.seekPositionButton}
        </div>
    </div>
</div>

{form form}
{foreach $form->controls as $name => $field}
    {ifset $form[$name]->items}
        <div class="filter_group {$name}">
            <div class="filter_headline">{label $name/}</div>
            <div class="filter_items">
                <ul>
                    {foreach $form[$name]->items as $key => $label}
                        {var $active = (false !== array_search($key, $form[$name]->value, true))}

                        <li n:class="$active ? active, nwjs_filter_item">
                            {input $name:$key}
                            {label $name:$key class => $name . '_' . $key}
                                <span class="filter_label_title">
                                    {$label}
                                    <span n:if="$active"></span>
                                </span>
                            {/label}
                        </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    {else}
    {input $name}
    {/ifset}
{/foreach}
{/form}
