@import "_mixins";

$category_icons_color: $pict_blue_color;
$transparent_color: 'transparent';

@mixin ico($classname, $color, $filename: '') {
    .#{$classname} {
        &.detail_pictogram_accessibility {
            color: $color;
        }

        &:before {
            background-color: $color;
        }

        @if ($filename != '') {
            &:after {
                background-image: bg_image($icons_path + $filename + '.svg') !important;
            }
        }
    }
}
@mixin detail_pictogram($classname, $filename) {
    .#{$classname}:after {
        background-image: bg_image($icons_path + $filename + '.svg') !important;
    }
}
@mixin accessibility_bg_color($classname, $color) {
    .#{$classname} {
        .ib_header,
        .ib_params .type:before {
            background-color: $color;
        }
        .ib_header .title {
            @if ('accessible_1, .accessibility_1' == $classname) {
                &:before {
                    background-color: $pict_green_color;
                }
                &:after {
                    background-image: bg_image($icons_path + 'ico_x_pristupny.svg') !important;
                }
            } @elseif ('accessible_2, .accessibility_2' == $classname) {
                &:before {
                    background-color: $pict_orange_color;
                }
                &:after {
                    background-image: bg_image($icons_path + 'ico_x_omezene.svg') !important;
                }
            } @elseif ('accessible_3, .accessibility_3' == $classname) {
                &:before {
                    background-color: $pict_red_color;
                }
                &:after {
                    background-image: bg_image($icons_path + 'ico_x_nepristupny.svg') !important;
                }
            }
        }
    }
}

@include ico('accessible_1, .accessibility_1', $pict_green_color, 'ico_x_pristupny');
@include ico('accessible_2, .accessibility_2', $pict_orange_color, 'ico_x_omezene');
@include ico('accessible_3, .accessibility_3', $pict_red_color, 'ico_x_nepristupny');

@include ico('type_certified', $pict_blue_color, 'ico_y_profi');
@include ico('type_outdated', $pict_blue_color, 'ico_y_profi_stare');
@include ico('type_community', $pict_blue_color, 'ico_y_komunitni');

@include ico('category_accommodation', $category_icons_color, '16_ubytovani');
@include ico('category_authority', $category_icons_color, '16_palac');
@include ico('category_church', $category_icons_color, '16_bazilika-15');
@include ico('category_culture', $category_icons_color, '16_divadlo');
@include ico('category_education', $category_icons_color, '16_knihovna');
@include ico('category_garden', $category_icons_color, '16_zahrady');
@include ico('category_health', $category_icons_color, '16_pohotovost');
@include ico('category_historical', $category_icons_color, '16_hrad_zamek');
@include ico('category_hospitality', $category_icons_color, '16_pohostinstvi');
@include ico('category_leisure', $category_icons_color, '16_volny_cas');
@include ico('category_memorial', $category_icons_color, '16_pamatnik');
@include ico('category_service', $category_icons_color, '16_sluzby');
@include ico('category_social', $category_icons_color, '16_socialni_sluzby');
@include ico('category_sport', $category_icons_color, '16_sportovni_aktivity');
@include ico('category_tower', $category_icons_color, '16_rozhledna');
@include ico('category_transportation', $category_icons_color, '16_doprava');
@include ico('category_other', $category_icons_color);

@include ico('wc', $transparent_color, '20_wc_gray');
@include ico('wc.wc_1, .accessiblewcmkpo', $transparent_color, '20_wc_green');
@include ico('wc.wc_2, .partlyaccessiblewcmkpo', $transparent_color, '20_wc_orange');
@include ico('wc.wc_3, .inaccessiblewcmkpo', $transparent_color, '20_wc_red');
@include ico('changing_desk', $transparent_color, '20_prebalovaci_pult');
@include ico('door_type', $transparent_color, '20_hlavni_vchod');
@include ico('entrance', $transparent_color, '20_vedlejsi_vchod');

@include accessibility_bg_color('accessible_1, .accessibility_1', $access_green_color);
@include accessibility_bg_color('accessible_2, .accessibility_2', $access_orange_color);
@include accessibility_bg_color('accessible_3, .accessibility_3', $access_red_color);

@include detail_pictogram('parking', '20_parkoviste');
@include detail_pictogram('difficult_surface', '20_nerovny_povrch');
@include detail_pictogram('difficult_inclination', '20_obtizny_sklon');
@include detail_pictogram('stairs', '20_schody');
@include detail_pictogram('spiral_stairs', '20_tocite_schody');
@include detail_pictogram('elevator', '20_vytah');
@include detail_pictogram('platform', '20_plosina');
@include detail_pictogram('rampskids', '20_rampa');
@include detail_pictogram('narrowed_passage', '20_zuzeny');
@include detail_pictogram('door_width', '20_nejuzsi_dvere');
