{import "../../DefaultRenderer/template/DefaultRenderer.blocks.latte"}

{include content}

{define params}
    <div class="ib_params">
        <div class="type category_{$object['category']['id']}">
            {ifset $object['node_type']}
                <span class="node_type">{$object['node_type']|lower}</span>
            {else}
                {$object['category']['title']}
            {/ifset}
        </div>
        {include paramsAccessibility}
    </div>
{/define}
