parameters:
    database:
        driver: postgre
        host: %databaseIp%
        port: 5432
        schema: public
        dbname:
        profiler: false
        explain: false
        lazy: true

    langs:
        - cs
        - en

php:
    date.timezone: Europe/Prague


constants:
    DEFAULT_DETAIL_ZOOM: 17


application:
    errorPresenter: Web:Error
    mapping:
        *: MP\Module\*\Presenters\*Presenter


session:
    expiration: "+1 year"
    savePath: "%tempDir%/session"


mail:
    smtp: true
    host: %smtp.host%
    port: %smtp.port%
    username: %smtp.username%
    password: %smtp.password%


tracy:
    strictMode: true
    showLocation: true
    logSeverity: 30711 # E_ALL & ~(E_STRICT|E_NOTICE);


images:
    routes:
        - "/<namespace .+>/<size>[-<algorithm>]/<filename>.<extension>"
    wwwDir: %wwwDir%
    storage: [default: @defaultImageStorage]


services:
    nette.templateFactory:
        class: MP\Util\Latte\Factory\TemplateFactory
        inject: true

    # factories
    formFactory: MP\Component\Form\FormFactory
    mailerMessageFactory: MP\Component\Mailer\MessageFactory
    parserFactory: MP\Exchange\Parser\ParserFactory(..., %parser.mapping%)
    exporterFactory: MP\Exchange\Export\ExporterFactory(..., %exporter.mapping%)
    managerFactory: MP\Manager\ManagerFactory
    databaseMapperFactory: MP\Mapper\DatabaseMapperFactory(..., @dibi.connection, ..., ...)
    googleMapsGeocoderFactory: MP\Service\GoogleMapsGeocoderFactory(%google.geocodingApiKey%)
    paginatorFactory: MP\Util\Paginator\PaginatorFactory
    validatorsFactory: MP\Exchange\Validator\ValidatorsFactory
    flashMessageControlFactory: MP\Component\IFlashMessageControlFactory
    mapperContext: MP\Mapper\Context
    downloaderFactory: MP\Exchange\Downloader\DownloaderFactory(..., %downloader.mapping%)

    # services
    exchangeMetadata: MP\Exchange\Service\ExchangeMetadata
    importService: MP\Exchange\Service\ImportService
    exportService: MP\Exchange\Service\ExportService
    filterService: MP\Service\FilterService
    ruianFinder: MP\Exchange\Service\RuianFinder
    geocodingService: MP\Service\GeocodingService(@googleMapsGeocoderFactory::create(), ...)
    dibiTransaction: MP\Util\Transaction\DibiTransaction
    dibiDumper:
        class: MP\Util\DibiDumper(@dibi.connection)
        tags: [run = true]
    runtimeMode: MP\Util\RuntimeMode
    lang: MP\Util\Lang\Lang(..., ..., %langs%)
    ruianSyncService: MP\Service\RuianSyncService
    dpaTransformator: MP\Exchange\Service\DpaTransformator
    valuesNormalizer: MP\Exchange\Service\ValuesNormalizer
    automaticImportService: MP\Module\Admin\Service\AutomaticImportService
    defaultImageStorage:
        class: MP\Service\ImageFileStorage
        arguments: [%storageDir%, %wwwDir%]
    filterSet: MP\Util\Latte\Filter\FilterSet

    # cache
    enumValueResolverCacheStorage:
        class: Nette\Caching\Storages\MemoryStorage
        autowired: false
    enumValueResolverCache:
        class: Nette\Caching\Cache(@enumValueResolverCacheStorage)
        autowired: false

    # mailers
    geocodingMailer: MP\Component\Mailer\GeocodingMailer

    # mappers
    ruainMapper:
        class: MP\Mapper\RuianMapper
        setup:
            - setTable('ruian')

    # validators
    qualityValidator: MP\Exchange\Validator\QualityValidator
    consistencyValidator: MP\Exchange\Validator\ConsistencyValidator


dibi:
    driver: %database.driver%
    host: %database.host%
    port: %database.port%
    user: %database.user%
    password: %database.password%
    dbname: %database.dbname%
    schema: %database.schema%
    profiler: %database.profiler%
    lazy: %database.lazy%


forms:
    messages:
        EQUAL: messages.form.error.equal
        NOT_EQUAL: messages.form.error.notEqual
        FILLED: messages.form.error.required
        BLANK: messages.form.error.blank
        MIN_LENGTH: messages.form.error.minLength
        MAX_LENGTH: messages.form.error.maxLength
        LENGTH: messages.form.error.length
        EMAIL: messages.form.error.email
        URL: messages.form.error.url
        INTEGER: messages.form.error.integer
        FLOAT: messages.form.error.float
        MIN: messages.form.error.min
        MAX: messages.form.error.max
        RANGE: messages.form.error.range
        MAX_FILE_SIZE: messages.form.error.maxFileSize
        MAX_POST_SIZE: messages.form.error.maxPostSize
        MIME_TYPE: messages.form.error.mimeType
        IMAGE: messages.form.error.image
        VALID: messages.form.error.valid


translation:
    default: cs
    fallback: [cs]
    resolvers:
        header: off


webloader:
    css:
        web:
            tempDir: "%wwwDir%/asset/temp"
            tempPath: "asset/temp"
            sourceDir: "%wwwDir%/asset/css"
            remoteFiles:
                - "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,300|Cutive+Mono&subset=latin,latin-ext"
                - "//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css"
            files:
                - "app.css"
                - "icons.css"
                - "colorbox.css"
        admin:
            tempDir: "%wwwDir%/asset/temp"
            tempPath: "asset/temp"
            sourceDir: "%wwwDir%/asset/css"
            remoteFiles:
                - "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,300|Cutive+Mono&subset=latin,latin-ext"
                - "//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css"
            files:
                - "app.css"
                - "rs.css"
                - "icons.css"
                - "colorbox.css"
                - "dumper.css"
    js:
        web:
            tempDir: "%wwwDir%/asset/temp"
            tempPath: "asset/temp"
            sourceDir: "%wwwDir%/asset/js"
            remoteFiles:
                - "//code.jquery.com/jquery-1.11.3.min.js"
                - "//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"
            files:
                - "spin.js"
                - "nette.forms.js"
                - "nette.ajax.js"
                - "colorbox.js"
                - "script.js"
                - "web.js"
        admin:
             tempDir: "%wwwDir%/asset/temp"
             tempPath: "asset/temp"
             sourceDir: "%wwwDir%/asset/js"
             remoteFiles:
                 - "//maps.googleapis.com/maps/api/js?key=%google.mapApiKey%&libraries=places&language=cs"
                 - "//code.jquery.com/jquery-1.11.3.min.js"
                 - "//code.jquery.com/ui/1.11.4/jquery-ui.min.js"
                 - "//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"
             files:
                 - "spin.js"
                 - "nette.forms.js"
                 - "nette.ajax.js"
                 - "nette.ajax.confirm.js"
                 - "nette.ajax.history.js"
                 - "dumper.js"
                 - "colorbox.js"
                 - "locationpicker.js"
                 - "script.js"
                 - "admin.js"
                 - "admin/user.js"
                 - "admin/object.js"

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22
    translation: Kdyby\Translation\DI\TranslationExtension
    webloader: MP\Util\WebLoader\Extension
    images: IPub\Images\DI\ImagesExtension
    ajaxHistory: VojtechDobes\NetteAjax\HistoryExtension
    managerExtension: MP\DI\ManagerExtension
    webExtension: MP\Module\Web\WebExtension
    adminExtension: MP\Module\Admin\AdminExtension
    apiExtension: MP\Module\Api\ApiExtension
    modulesExtension: Flame\Modules\DI\ModulesExtension


includes:
    - credentials.neon
    - managers.neon
    - parsers.neon
    - exporters.neon
    - downloaders.neon
    - ../Module/Admin/config/config.neon
    - ../Module/Api/config/config.neon
    - ../Module/Web/config/config.neon
