parameters:
    database:
        user: mapy_pristupnosti_db_01
        password: 

    google:
        mapApiKey:
        geocodingApiKey:

    smtp:
        host: 
        port: 
        username: 
        password: 

    gA:
        code: 
