<div class="form_wrapper object_owner_form">
    <p>
        {_backend.control.objectOwner.currentOwner}: <strong>{$currentOwner['fullname']} ({$currentOwner['login']})</strong>
    </p>
    {control form}
</div>
