<h2 class="popup_headline">{_messages.popup.embedded.title}</h2>
<div class="popup_body">
<p>{_messages.popup.embedded.beforeInfo}</p>
{var iframe = "<iframe
    width=\"800\"
    height=\"600\"
    src=\"{$link}\"
    frameborder=\"0\"
></iframe>";}
<code>{$iframe}</code>
<p><a href="{_messages.popup.embedded.license.link}" target="_blank">{_messages.popup.embedded.license.title}</a></p>
</div>
