{layout APP_DIR . "/Component/Mailer/template/@layout.latte"}

{block body}
    <h1>{_backend.control.passwordReset.mail.title}</h1>
    <p>{_backend.control.passwordReset.mail.body}</p>
    {capture $title}{_backend.control.passwordReset.title}{/capture}
    {include APP_DIR . "/Component/Mailer/template/button.latte"
        , title => $title
        , link => $data['link']
        , width => 211
        , height => 55
        , bgColor => '#e4002b'
    }
{/block}
