<script type="text/javascript">
    if ('undefined' !== typeof window.googleMap) {
        window.googleMap.setObject({$object|noescape});
        window.googleMap.setMarkers({$markers|noescape});
    }
</script>
