<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>{_messages.seo.title}</title>
    <meta name="description" content="{_messages.seo.description}"/>
    <meta name="keywords" content="{_messages.seo.keywords}"/>
    {if $debugMode}
    <meta name="robots" content="noindex,nofollow"/>
    {else}
    <meta name="robots" content="index,follow"/>
    {/if}
    <link rel="shortcut icon" type="image/x-icon" href="/asset/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon-precomposed" href="/asset/img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/asset/img/favicons/apple-touch-icon-120x120.png" sizes="120x120">
    <link rel="icon" href="/asset/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/asset/img/favicons/favicon-96x96.png" sizes="96x96" type="image/png">
    <link rel="icon" href="/asset/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <meta name="msapplication-TileImage" content="/asset/img/favicons/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#e31e25">
    <meta name="theme-color" content="#e31e25">
    {control css}
    {ifset $maps}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=%google.mapApiKey%&libraries=places&language=cs"></script>
    <script type="text/javascript" src="/asset/js/gmap.js"></script>
    {else}
    <script type="text/javascript" src="//api.mapy.cz/loader.js"></script>
    <script type="text/javascript" n:syntax="off">Loader.load();</script>
    <script type="text/javascript" src="/asset/js/mapycz.js"></script>
    {/ifset}
    {control js}
</head>
<body n:class="isset($popup) ? popup_opened">
    <div class="nwjs_popup_wrapper popup">
        <div class="popup_inner">
            <span title="{_messages.popup.close}" class="nwjs_popup_close popup_close">{_messages.popup.close}</span>
            <div class="nwjs_popup_content popup_content">
                {ifset $popup}
                    {control $popup}
                {/ifset}
            </div>
            <div class="nwjs_popup_error popup_error">{_messages.popup.loadingError}</div>
        </div>
    </div>

    <div class="container">
        {block content}{/block}
    </div>

    {control flashMessage}
    {control googleAnalytics}
</body>
</html>
