{import "InfoBoxControl.blocks.latte"}

{include infoBox}

{define infoBox}
    <div class="info_box_content_wrapper detail accessible_{$object['aggregated_accessibility']['id']}" vocab="http://schema.org/" typeof="TouristAttraction">
        {include content}
    </div>
{/define}

{define content}
    {include header}
    {include renderer}
    {include source}
    {include owner}
{/define}

{define localLink}
    <a href="{plink :Web:Homepage:default, 'id' => $object['id']}" title="{$object['title']}">{include objectTitle}</a>
{/define}

{define closer}
    <span class="closer nwjs_detail_closer" title="{_messages.control.map.infoBox.close}">{_messages.control.map.infoBox.close}</span>
{/define}

{define renderer}
    {control renderer:detail}
{/define}

{define source}
    {if !empty($object['source'])}
    <div class="ib_source">
        <div class="addr_item source" title="{_messages.control.map.infoBox.source}">
            {$object['source']} (<a href="{$object['license_url']}" target="_blank" n:tag-if="$object['license_url']">{$object['license']}</a>)
        </div>
    </div>
    {/if}
{/define}

{define owner}
    {if !empty($object['owner'])}
        <div class="ib_owner">
            <div class="addr_item owner" title="{_messages.control.map.infoBox.owner}">
                <a href="{$object['owner']|urlWithProtocol}" target="_blank">{$object['owner']}</a>
            </div>
        </div>
    {/if}
{/define}
