parameters:
    categories:
        mapping:
            accommodation: [39, 40, 46, 52, 78]
            authority: [19, 37, 60, 62, 66, 73, 74, 82, 83, 85, 87, 92, 99, 107, 113]
            church: [1, 6, 7, 9, 10, 12, 13, 20, 63]
            culture: [2, 3, 14, 15, 16, 47, 48, 104, 106, 114]
            education: [61, 88,  91, 97, 98, 109, 111]
            garden: [33, 103]
            health: [54, 55, 56, 57, 64, 65, 69, 101, 110]
            historical: [4, 5, 17, 21, 23]
            hospitality: [32, 34, 41, 79, 80]
            leisure: [29, 36, 43, 50, 59, 70, 95, 112]
            memorial: [18]
            other: [8]
            service: [11, 31, 35, 42, 44, 45, 53, 67, 68, 72, 75, 76, 81, 89, 90, 93, 94, 100, 105]
            social: [49, 71]
            sport: [38, 51, 84, 102]
            tower: [22]
            transportation: [30, 58, 77, 86, 96, 108]

    sourceDetail:
        mapping:
            vozejkmap: webVozejkmapSourceDetail
            wckompas: webWcKompasSourceDetail
            wheelmap: webWheelmapSourceDetail
            cb: webCBSourceDetail
            brno-gis: webBrnoGisSourceDetail
            default: webDefaultSourceDetail

services:
    #factories
    sourceDetailFactory: MP\Module\SourceDetail\SourceDetailFactory(..., ..., %sourceDetail.mapping%)

    # components
    filterControlFactory:
        implement: MP\Module\Web\Component\FilterControl\IFilterControlFactory
        arguments: [..., ..., ..., ..., %categories.mapping%]
    infoBoxControlFactory:
        implement: MP\Module\Web\Component\InfoBoxControl\IInfoBoxControlFactory
        arguments: [..., ..., @infoBoxRendererFactory]
    detailControlFactory:
        implement: MP\Module\Web\Component\DetailControl\IDetailControlFactory
        arguments: [..., ..., @detailRendererFactory]
    exportControlFactory: MP\Module\Web\Component\IExportControlFactory
    embeddedInfoControlFactory: MP\Module\Web\Component\IEmbeddedInfoControlFactory
    helpControlFactory: MP\Module\Web\Component\IHelpControlFactory
    gAControlFactory:
        implement: MP\Module\Web\Component\IGAControlFactory
        arguments: [%gA%]
    mapControlFactory:
        implement: MP\Module\Web\Component\MapControl\IMapControlFactory
    markersControlFactory:
        implement: MP\Module\Web\Component\MarkersControl\IMarkersControlFactory
        arguments: [..., @markersSqlStorage, %categories.mapping%]
    navigationControlFactory:
        implement: MP\Module\Web\Component\NavigationControl\INavigationControlFactory
        arguments: [..., %navigation%]
    newsControlSection:
        class: @session::getSection('newsControl')
        setup:
            - setExpiration(0)
    newsControlFactory:
        implement: MP\Module\Web\Component\INewsControlFactory
        arguments: [..., @newsControlSection]

    # services
    webObjectService: MP\Module\Web\Service\ObjectService
    webUserService: MP\Module\Web\Service\UserService
    webObjectRestrictorBuilder: MP\Module\Web\Service\ObjectRestrictorBuilder
    webDetailService: MP\Module\SourceDetail\DetailService(..., ..., ..., ..., ..., %categories.mapping%)
    webVozejkmapSourceDetail: MP\Module\SourceDetail\VozejkmapSourceDetail
    webWcKompasSourceDetail: MP\Module\SourceDetail\WcKompasSourceDetail
    webWheelmapSourceDetail: MP\Module\SourceDetail\WheelmapSourceDetail
    webCBSourceDetail: MP\Module\SourceDetail\CBSourceDetail
    webBrnoGisSourceDetail: MP\Module\SourceDetail\BrnoGisSourceDetail
    webDefaultSourceDetail: MP\Module\SourceDetail\DefaultSourceDetail

    markersSqlStorage:
        class: MP\Service\MarkersSqlStorage
        autowired: false

    markersCacheMapper: MP\Mapper\MarkersCacheMapper

includes:
    - navigation.neon
    - renderers.neon
