{if !empty($showSearch)}
    {control search}
{/if}

{snippet users}
    {if $users}
        <div class="items table_responsive_wrapper">
            <table>
                <thead>
                <tr>
                    <th n:if="in_array('name', $cols)" class="name">{_backend.user.list.name}</th>
                    <th n:if="in_array('login', $cols)" class="login">{_backend.user.list.login}</th>
                    <th n:if="in_array('role', $cols)" class="role">{_backend.user.list.role}</th>
                    <th n:if="in_array('edit', $cols)" class="edit tool">{_backend.user.list.edit}</th>
                    <th n:if="in_array('delete', $cols)" class="delete tool">{_backend.user.list.delete}</th>
                </tr>
                </thead>
                <tbody>
                    <tr n:foreach="$users as $item">
                        <td n:if="in_array('name', $cols)" class="name">{$item['fullname']}</td>
                        <td n:if="in_array('login', $cols)" class="login">{$item['login']}</td>
                        <td n:if="in_array('role', $cols)" class="role">{$item['role']}</td>
                        <td n:if="in_array('edit', $cols)" class="edit tool">
                            <a href="{plink :Admin:User:edit id => $item['id']}" title="{_backend.user.action.edit}">{_backend.user.action.edit}</a>
                        </td>
                        <td n:if="in_array('delete', $cols)" class="delete tool">
                            <a n:href="delete! id => $item['id']" class="ajax" title="{_backend.user.action.delete}" data-confirm="{_backend.user.confirm.delete}" data-ajax-off="history">{_backend.user.action.delete}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {control paginator}
    {else}
        <div class="error_notice">{_backend.control.nodata}</div>
    {/if}
{/snippet}
