{import APP_DIR . "/Module/Admin/templates/blocks.latte"}

{define submenu}{/define}

{block headerClass} system{/block}
{define headline}
    <h1 class="headline system">{block headlineBlock}{/block}</h1>
{/define}
