{import "../../DefaultRenderer/template/DefaultRenderer.blocks.latte"}

{include content}

{define params}
    <div class="ib_params">
        <div class="type category_{$object['category']['id']}">{$object['category']['title']}</div>
    </div>
{/define}
